<nav class="navbar pb-2 pt-0 shadow-sm  navbar-expand-lg navbar-light ">
  <div class="container">
    <img src="https://s3.amazonaws.com/assets.kiddo/images/kiddologo.png" alt="" class='logo'>
        <p class="mb-0 ms-1 brand footer-brand ">Kiddo <span class="light-blue">TV</span></p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse   navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav fs-8 me-auto mb-2 mb-lg-0 w-100 justify-content-end">
        <a href="/" class="nav-item nav-link active text-decoration-none text-black fw-bold px-6 py-2">Home</a>
        <% if (typeof loggedIn !== "undefined") { %>
          <a href="/videos" class="nav-item nav-link text-decoration-none text-black pr-3 py-2">Videos</a>
          <a href="/devices" class="nav-item nav-link text-decoration-none text-black px-6 py-2">Devices</a>
          <a href="/kids" class="nav-item nav-link text-decoration-none text-black px-6 py-2">Kids</a>
        <% } else { %>
          <a href="/search" class="nav-item nav-link text-decoration-none text-black px-6 py-2">Search</a>
          <a href="/videos" class="nav-item nav-link text-decoration-none text-black px-6 py-2">Videos</a>
          <a href="/live" class="nav-item nav-link text-decoration-none text-black px-6 py-2">Live Stream</a>
        <% } %>
        <a href="/about" class="nav-item nav-link text-decoration-none text-black px-6 py-2">About us</a>
      <% if (typeof loggedIn == "undefined") { %>
        <a href="/login" class="nav-item nav-link text-decoration-none text-black px-6 py-2 pr-3">Sign in</a>
        <% }   %>
      </div>
      <% if (typeof loggedIn !== "undefined") { %>
        <span class="ifLoggedIn nav-item">Logged in as: <b><%= loggedIn.username %></b></span>
        <div class="d-flex gap-1">
          <a href="/logout" class="btn btn-theme rounded-pill">Logout</a>
        </div>
      <% } else { %>
        <div class="d-flex gap-3 ">
          <a href="/register" class="btn btn-theme rounded-pill">Register</a>
        </div>
      <% } %>
    </div>
  </div>
</nav>
