<div class="ps-3">
  <div class="d-flex gap-3 pt-3">
    <p><a href="/"><span class="sniglet">Sniglet</span></a></p>
    <p><a href="/fredokacomicneue"><span class="comicneue">Comic</span></a></p>
    <p><a href="/fredokabaloo"><span class='baloo'>Baloo</span></a></p>
    <p><a href="/fredokachewy"><span claas='chewy'>Chewy</span></a></p>
    <p><a href="/fredokaBubblegum"><span class="bubblegum">Bubblegum</span></a></p>
    <p><a href="/fredokaLuckiest"><span class="luckiest">Luckiest</span></a></p>
    <p><a href="/fredokaAmatic"><span class="amatic">Amatic</span></a></p>
    <p><a href="/fredokaDelius"><span class="delius">Delius</span></a></p>
    <p><a href="/fredokaKalam"><span class="kalam">Kalam</span></a></p>
    <p><a href="/fredokaBoogaloo"><span class="boogaloo">Boogaloo</span></a></p>
    <p><a href="/fredokaCherry"><span class="cherry">Cherry</span></a></p>
    <p><a href="/fredokaIndie"><span class="indie">Indie</span></a></p>
    <p><a href="/fredokaPatrick"><span class="patrick">Patrick</span></a></p>
    <p><a href="/fredokaPermanent"><span class="marker">Permanent</span></a></p>
    <p><a href="/fredokaHandlee"><span class="handlee">Handlee</span></a></p>
    <p><a href="/fredokaAcme"><span class="acme">Acme</span></a></p>
    <p><a href="/fredokaRighteous"><span class="righteous">Righteous</span></a></p>
    <p><a href="/fredokaCoiny"><span class="coiny">Coiny</span></a></p>
    <p><a href="/fredokaMonserrat"><span class="montserrat">Monserrat</span></a></p>
  </div>
</div>
<!-- <hr /> -->
