<div class="d-flex video-page flex-column ">
  <div class="d-flex gap-3 ">
    <div class="top-video-card d-flex flex-column">
      <iframe class="top-video-iframe" src="https://www.youtube.com/embed/XqZsoesa55w?si=Vt9-L0gUFUovY-3n" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen></iframe>
      <div class="video-text d-flex flex-column">
          <div>
              <p class='video-category'>Category: Educational Songs</p>
          </div>
          <p class='video-heading'>Baby Shark Dance | #babyshark Most Viewed Video | Animal Songs | PINKFONG Songs for Children</p>
          <p class='video-age'>Video Age: 3-5 Years</p>
          
          <!-- Additional Text Section -->
          <div class="video-details">
              <p class='video-facts'><strong>Fun Fact:</strong> Baby Shark Dance is the most-viewed YouTube video of all time with over 13 billion views!</p>
              <p class='video-benefits'><strong>Benefits:</strong> This video encourages rhythm, coordination, and vocabulary development through fun, interactive dance moves.</p>
              <p class='video-release'><strong>Release Date:</strong> June 17, 2016</p>
              
              <p class='video-cta'><strong>Interactive Idea:</strong> After watching, try acting out the animal movements with your child to make learning even more engaging!</p>
          </div>
      </div>
  </div>
  
<!-- 
  <div class="top-side-video d-flex align-items-center  flex-column">
    <div class="top-header">
    <div class="side-header">Related videos</div>
  </div>
  <div class="side-video-section">
    <div class="side-video-card d-flex  ">
      <iframe class="side-video" src="https://www.youtube.com/embed/XqZsoesa55w?si=Vt9-L0gUFUovY-3n" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen></iframe>
            
    </div>
    <div class="side-video-card d-flex  ">
      <iframe class="side-video" src="https://www.youtube.com/embed/XqZsoesa55w?si=Vt9-L0gUFUovY-3n" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen></iframe>
            
    </div>
    <div class="side-video-card d-flex  ">
      <iframe class="side-video" src="https://www.youtube.com/embed/XqZsoesa55w?si=Vt9-L0gUFUovY-3n" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen></iframe>
            
    </div>
  </div>
  </div> -->
</div>
  <div class="video-footer">
<p class="suggested-video">Suggested Videos</p>
<div class="d-flex justify-content-center align-items-center">
    <div class="arrow d-flex align-items-center justify-content-center">
    <svg xmlns="http://www.w3.org/2000/svg" 
    width="10" height="10" 
    fill="currentColor" 
    class="bi bi-chevron-left" 
    viewBox="0 0 16 16" 
    style="transform: scale(1.5);">
 <path fill-rule="evenodd" 
       d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"
       stroke="white" stroke-width="1.5"
       />

      </svg>
    </div>

    <div class="video-card d-flex  flex-column">
      <iframe src="https://www.youtube.com/embed/XqZsoesa55w?si=Vt9-L0gUFUovY-3n" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen></iframe>
              <div class="video-text d-flex flex-column">
                <div>
                    <p class='video-category'>Educational Songs</p>
                </div>
                <p class='video-heading'>Baby Shark Dance | Animal Songs</p>
                <p class='video-facts'>Baby Shark Dance is the most-viewed YouTube video of all time with over 13 billion views!</p>
                
                <!-- Additional Text Section -->
              
            </div>
            
    </div>
    
    <div class="video-card d-flex  flex-column">
      <iframe src="https://www.youtube.com/embed/XqZsoesa55w?si=Vt9-L0gUFUovY-3n" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen></iframe>
              <div class="video-text d-flex flex-column">
                <div>
                    <p class='video-category'>Educational Songs</p>
                </div>
                <p class='video-heading'>Baby Shark Dance | Animal Songs</p>
                <p class='video-facts'>Baby Shark Dance is the most-viewed YouTube video of all time with over 13 billion views!</p>
                
                <!-- Additional Text Section -->
              
            </div>
            
    </div>
    
    <div class="video-card d-flex  flex-column">
      <iframe src="https://www.youtube.com/embed/XqZsoesa55w?si=Vt9-L0gUFUovY-3n" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen></iframe>
              <div class="video-text d-flex flex-column">
                <div>
                    <p class='video-category'>Educational Songs</p>
                </div>
                <p class='video-heading'>Baby Shark Dance | Animal Songs</p>
                <p class='video-facts'>Baby Shark Dance is the most-viewed YouTube video of all time with over 13 billion views!</p>
                
                <!-- Additional Text Section -->
              
            </div>
            
    </div>
    
    
    <div class="video-card d-flex  flex-column">
      <iframe src="https://www.youtube.com/embed/XqZsoesa55w?si=Vt9-L0gUFUovY-3n" 
              title="YouTube video player" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" 
              allowfullscreen></iframe>
              <div class="video-text d-flex flex-column">
                <div>
                    <p class='video-category'>Educational Songs</p>
                </div>
                <p class='video-heading'>Baby Shark Dance | Animal Songs</p>
                <p class='video-facts'>Baby Shark Dance is the most-viewed YouTube video of all time with over 13 billion views!</p>
                
                <!-- Additional Text Section -->
              
            </div>
            
    </div>
   
   
    <div class="arrow d-flex align-items-center justify-content-center">
    <svg xmlns="http://www.w3.org/2000/svg" 
    width="10" height="10" 
    fill="none" 
    class="bi bi-chevron-right" 
    viewBox="0 0 16 16" 
    style="transform: scale(1.5);">
 <path fill-rule="evenodd" 
       d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"
       stroke="white" stroke-width="1.5"/>
</svg>
</div>

</div>
  </div>


</div>