<div class="videos-section d-flex flex-column align-items-center justify-content-center">
  <div class="video-card d-flex flex-column align-items-center justify-content-center">
    <div></div>
    <iframe src="https://www.youtube.com/embed/XqZsoesa55w?si=Vt9-L0gUFUovY-3n" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen></iframe>
  </div>
  <p class="video-title">Blippi - Educational Adventures</p>
  <div class=' d-flex  flex-column'>
  <p class="video-content">

  Category: Educational
Age range: 3 - 4 years
</p>
</div>

  <p class="video-content">
Changing the flavour of a classic pepper experiment by using cinnamon instead. The fact is you can use any spices here as long as they float.
</p>


</div>